###############################################################################
# STM32CubeIDE
###############################################################################

Debug/
Release/

*.launch

.settings/
.metadata/

###############################################################################
# Build files
###############################################################################

*.o
*.d
*.su
*.elf
*.hex
*.bin
*.map
*.list

###############################################################################
# Temporary files
###############################################################################

*.tmp
*.bak

###############################################################################
# Operating System
###############################################################################

Thumbs.db
Desktop.ini

###############################################################################
# Visual Studio Code
###############################################################################

.vscode/

###############################################################################
# Personal Files
###############################################################################

Mine/

###############################################################################
# Logs
###############################################################################

*.log